body {
    /*color:chartreuse;*/
}
textarea {
    resize: none;
    width: 300px;
}

.form-popup {
    display: none;
    position: fixed;
    border: 3px solid #f1f1f1;
    z-index: 9;
    /* Center element */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 600px;
    max-width: 90%;
    max-height: 600px;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.607); 
    z-index: 5;
}
.form-container {
    margin: auto;
    padding: 10px;
    max-width: 90%;
    margin-bottom: 50px;
    /*display: flex;
    flex-direction: column;*/
}
.form-container h3 {
    /*margin-top: 40px;*/
    width: 90%;
}
.btn {
    padding: 10px 20px;
    width: 100px;
    /* Center element */
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.btnCancel {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 35px;
    height: 35px;
    font-size: 1.3em;
}

.optionContainer {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.optionList option{
    /* size of button */
    min-width: 50px;
    font-size: 1.2em;
    padding: 10px;

    text-align: center;
    
    /* spacing between buttons */
    margin: 0px 10px 0px 10px;

    /* buttons are next to eachother */
    display: inline-block;
    
    cursor: pointer;
    border:rgb(0, 0, 0) solid 1px;
    border-radius: 5px;
}
.optionList option:checked {
    background: #c8c8c8;
    box-shadow: 0 0 10px 100px #c8c8c8 inset;
}

.optionList{
    margin: auto;
    border: none;
    overflow: hidden;
    height: 3.5em;
}
.optionList::-moz-focus-inner {
    border: 0;
}
.optionList:focus {
    outline: none;
}

#formContent {
    max-width: 400px;
    margin: auto;
    margin-bottom: 30px;
    overflow:auto;
    max-height: 300px;
    /* scrollbar always takes up space */
    scrollbar-gutter: stable;
}
#formContent label {
    text-align: center;
}