body {
    /*color:chartreuse;*/
    font-family: 'Segoe UI', Tahoma, sans-serif;
    height: 100%;
    color: black;
}
main {
    margin-bottom: 80px;
}
h1 {
    font-size: 1.6em;
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
}
#window {
    width: 100%;
    height: 65vw;
    max-width: 950px;
    max-height: 500px;
    /*min-height: 250px;*/
    border: 1px solid black;
    margin: auto;
    text-align: center;
    padding-bottom: 30px;
    position: relative;
}
#window #face {
    margin: auto;
    width: 40%;
    max-width: 400px;
    display: block;
}
#window #hand {
    position: absolute;
    left: 70%;
    top: 36%;
    width: 28%;
    height: auto;
    max-width: 300px;
    transition: .5s;
}
@media screen and (max-width: 800px) {
    #window {
        text-align: unset;
    }
    #window #face {
        display: unset;
        width: 55%;
    }
    #window #hand {
        left: 58%;
        top: 35%;
        width: 40%;
        /* m
        left: 36%;
        top: 10%;*/
    }
}

#window span {
    font-size: 2em;
    margin: auto;
    padding: 10px;
}
#window-buttons {
    margin: auto;
    text-align: center;
    width: 40%;
    min-width: 350px;
    max-width: 800px;
    /* can't select between buttons */
    user-select: none;
}

#window-buttons button {
    background: transparent;
    border: none;
    width: 50px;
    margin: 5px 10px;
    transition: transform .1s;
}
#window-buttons button:active {
    transform: scale(.90);
}
#window-buttons i {
    font-size: 1.6em;
}
#window-buttons i:focus {
    border: 1px solid black;
}

.input {
    /* center text input and submit button */
    text-align: center;
}
textarea {
    /* remove adjustable sizing from corner */
    resize: none;
    /* make same width as #window */
    padding: 10px;
    width: calc(40% - 20px);
    min-width: calc(350px - 20px);
    max-width: calc(800px - 20px);
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    /* inherit properities */
    font-family: inherit;
    color: inherit;
    font-size: inherit;
}
textarea:focus {
    outline-color: black;
}
#submit {
    padding: 5px;
    min-width: 100px;
    margin-bottom: 40px;
}
.result {
    letter-spacing: .08em;
    word-spacing: .4em;
    padding: 1em;
    text-align: center;
    line-height: 1em;
}
.result p {
    margin: 0;
    min-height: 20px;
}
#resultCued {
    /* spacing between two results */
    margin-bottom: 5px;
}
button {
    all: unset;
    background-color: #f0f0f0;
    text-align: center;
    font-size: inherit;
    font-family: inherit;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.2s ease;
    color: black;
}
button:focus {
    outline: revert;
}
button:hover {
    background-color: #e0e0e0;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.607); 
    z-index: 5;
}
.form-popup {
    display: none;
    position: fixed;
    border: 3px solid #f1f1f1;
    z-index: 9;
    /* Center element */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 600px;
    max-width: 90%;
    max-height: 90vh;
}
.form-container {
    margin: auto;
    padding: 10px;
    max-width: 90%;
    margin-bottom: 50px;
    /*display: flex;
    flex-direction: column;*/
}
.form-container h3 {
    /*margin-top: 40px;*/
    width: 90%;
}
/* submit */
.btn {
    padding: 5px;
    width: 100px;
    /* Center element */
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.btnCancel {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 35px;
    height: 35px;
    font-size: 1.3em;

    /* Fix for iOS */
    -webkit-appearance: none;
    appearance: none;
    padding: 0;
    line-height: 1;
}
#formContent {
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow:auto;
    max-height: 52vh;
    /* scrollbar always takes up space */
    scrollbar-gutter: stable;
}
#formContent strong {
    font-size: 1.2em;
}
#formContent p {
    text-align: center;
    margin: 0;
}
.optionContainer {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttonGroup {
    /* Center buttons */
    margin: auto;

    margin-bottom: 20px;

    /* Gap between buttons */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.ipaButton {
    padding: 10px 10px;
    cursor: pointer;
    transition: 0.2s;
    min-width: 100px;
    border: 1px solid black;
    border-radius: 20px;
}
.ipaButton:hover {
    background-color: #e0e0e0;
}
.ipaButton.selected {
    background-color: #8b8b8b;
    color: white;
}
.error .ipaButton{
    color: red;
}
.error.btn {
    color:rgba(0, 0, 0, 0.384)
}



#IPAselector {
    display: none;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
#IPAselector h3 {
    text-align: center;
    margin: 0px;
}
.ipa-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    gap: 8px;
    max-width: 350px;
    margin: 20px;
}

.IPAselect {
    padding: 10px;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.IPAselect:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transform: translateY(-2px);
}

.IPAselect:active {
    transform: scale(0.95);
}

/*
.IPAselect.consonant {
  border-color: #bde9fd;
}

.IPAselect.vowel {
  border-color: #f9d6a8;
}
  */
.hidden {
    display: none;
}