body {
    /*color:chartreuse;*/
    font-family: 'Red Hat Text', Tahoma, sans-serif;
    height: 100%;
    color: black;
    margin: 0;
}

a {
    text-decoration: none;
    color: unset;
}

main {
    margin-bottom: 80px;
}
h1, h2, h3 {
    font-family: 'Red Hat Display', serif;
}

header {
    width: 100%;
    left: 0;
    font-size: 1.1em;
    /* keep nav bar on top */
    z-index: 100;
    /* height of header */
    height: 60px;

    /* keep logo and nav bar next to each other */
    display: flex;
    /* put links on right side of nav bar */
    justify-content: space-between;

    background-color: #315C77;
    color: white;
}
.home-link {
    display: flex;
    align-items: center;
    font-family: 'Red Hat Display', serif;
    font-weight: bold;
    font-size: 1.3em;
    margin-left: 30px;
}
.home-link img {
    height: 100%;
    max-height: 60px;
    margin-right: 10px;
}
nav {
    /* put some space between nav and end of page */
    margin-right: 30px;
    height: 100%;
}
nav > ul {
    /* remove bullet points */
    list-style: none;
    padding: 0;
    margin: 0;
    /* ensure links are next to each other */
    display: flex;
    gap: 2rem;
    height: 100%;
    align-items: center;
}
.hero-image {
    margin: 0;
    height: 100vh;
    /* establish hero image styling */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* center text */
    display: flex;
    align-items: center;
    /* image can grow and shrink but not go past certain height */
    max-height: 500px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-image: url('../images/hands_together.jpg');
}

.hero-text {
    margin: auto;
    text-align: center;
    width: 500px;
    color: white;
}
.hero-text h1 {
    font-size: 4em;
    margin: 0;
}

main > h2, main > p{
    margin-left: 50px;
    margin-right: 50px;
}
h2 {
    color: #33607E;
    font-size: 1.8em;
    font-weight: bold;
}

.section {
    display: flex;
    gap: 5%;
    justify-content: center;
    background-color: #73B0C2;
    padding: 10px; 
}
.textbox {
    padding: 0px 20px 0 20px;
    width: 300px;
    height: 200px;
    background-color: white;
    border-radius: 20px;
}

.resources {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 80%;
    margin: auto;
}
.resources div {
    position: relative;
    flex: 1;
    background-color: #BEE1ED;
    height: 200px;
    padding: 0 20px 0 20px;
    border-radius: 20px;
}
.resources button {
    position: absolute;
    color: #315C77;
    font-size: 1.1em;
    right: 20px;
    bottom: 20px;
    background-color: white;
    border-radius: 20px;
    border: 2px solid #315C77;
    padding: 10px;
    width: 100px;
}
.resources button:hover {
    box-shadow: 0px 2px 8px #315C77;
    transform: translateY(-2px);
    transition: .5s;
}

footer {
    background-color: #315C77;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 50px;
}
footer .icons {
    display: flex;
    justify-content: center;
    gap: 100px;
    font-size: 2em;
    margin-bottom: 50px;
}