body {
    /*color:chartreuse;*/
    font-family: 'Red Hat Text', Tahoma, sans-serif;
    height: 100%;
    color: black;
    margin: 0;
}

a {
    text-decoration: none;
    color: unset;
}

main {
    margin-bottom: 80px;
}
h1, h2, h3 {
    font-family: 'Red Hat Display', serif;
}

header {
    width: 100%;
    left: 0;
    font-size: 1.1em;
    /* keep nav bar on top */
    z-index: 100;
    /* height of header */
    height: 60px;

    /* keep logo and nav bar next to each other */
    display: flex;
    /* put links on right side of nav bar */
    justify-content: space-between;

    background-color: #315C77;
    color: white;
}
.home-link {
    display: flex;
    align-items: center;
    font-family: 'Red Hat Display', serif;
    font-weight: bold;
    font-size: 1.3em;
    margin-left: 30px;
}
.home-link img {
    height: 100%;
    max-height: 60px;
    margin-right: 10px;
}
nav {
    /* put some space between nav and end of page */
    margin-right: 30px;
    height: 100%;
}
nav > ul {
    /* remove bullet points */
    list-style: none;
    padding: 0;
    margin: 0;
    /* ensure links are next to each other */
    display: flex;
    gap: 2rem;
    height: 100%;
    align-items: center;
}
.hero-image {
    margin: 0;
    height: 100vh;
    /* establish hero image styling */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* center text */
    display: flex;
    align-items: center;
    /* image can grow and shrink but not go past certain height */
    max-height: 500px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-image: url('../images/hands_together.jpg');
}

.hero-text {
    margin: auto;
    text-align: center;
    width: 500px;
    color: white;
}
.hero-text h1 {
    font-size: 4em;
    margin: 0;
}

main > h2, main > p{
    margin-left: 50px;
    margin-right: 50px;
}
h2 {
    color: #33607E;
    font-size: 1.8em;
    font-weight: bold;
    margin-top: 50px;
}

.usage {
    display: flex;
    gap: 5%;
    justify-content: center;
    background-color: #73B0C2;
    padding: 20px; 
}
.usage div {
    padding: 10px 20px 10px 20px;
    width: 300px;
    background-color: white;
    border-radius: 20px;
    height: 200px;

    box-shadow: 0 6px 6px rgb(0 0 0 / 20%), 0 0 20px rgb(0 0 0 / 20%);
}
.usage div h3 {
    color: #315C77;
    text-align: center;
    margin-bottom: 10px;
}
.usage div p {
    margin-top: 0;
}


.learn {
    display: flex;
    justify-content: center;
    gap: 10%;
    width: 80%;
    min-width: 600px;
    max-width: 900px;
    margin: auto;
}
.learn div {
    flex: 1;
    background-color: #73B0C2;
    height: 400px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
}
.learn img {
    border-radius: 20px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.learn a {
    position: absolute;
    color: #315C77;
    font-size: 1.1em;
    background-color: white;
    border-radius: 20px;
    border: 2px solid #315C77;
    padding: 10px;
    width: 100px;
    transition: .5s;
    text-align: center;

    /* center button */
    left: 0; 
    right: 0; 
    bottom: 20px;
    margin-inline: auto; 
}
.learn a:hover {
    box-shadow: 0px 2px 5px #315C77;
    transform: translateY(-2px);
}

.resources {
    display: flex;
    gap: 50px;
    width: 90%;
    margin: auto;
}
.resources img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.resources h2 {
    margin: 0;
}
.resources a {
    flex: 1;
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 5px solid #73B0C2;
    border-radius: 20px;
    font-size: 1.5em;
    transition: .5s ease-in-out;
    background-color: white;
}
.resources a:hover {
    box-shadow: 5px 5px 5px #315C77;
    transform: translateY(-5px);
    background-color: white;
}

footer {
    background-color: #315C77;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 50px;
}
footer .icons {
    display: flex;
    justify-content: center;
    gap: 100px;
    font-size: 2em;
    margin-bottom: 50px;
}


@media screen and (max-width: 700px) {
    .section {
        display: block;
    }
    .textbox {
        margin: auto;
        width: 70%;
        margin-bottom: 20px;
    }
    
    .learn {
        display: block;
        width: 80%;
        min-width: 300px;
    }
    .learn div {
        margin-bottom: 50px;
    }

    .resources {
        display: block;
        width: 80%;
    }
    .resources button {
        margin-bottom: 50px;
        font-size: 2em;
        height: 200px;
        width: 90%;
    }
}